@charset "UTF-8";

@font-face {
    font-family: Anonymous;
    src: url('../Notas/fontes/Anonymous_Pro/AnonymousPro-Regular.ttf') format(truetype);
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes blink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    } 
  }

  .piscante {
    animation: blink 1s infinite;
  }

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: darkcyan;
}

header {
    background: url('../Notas/midia/bg.jpg') no-repeat center;
    background-size: cover;    
    width: 100%;
    height: 220px; 
    color: white;  
    text-align: center; 
    margin-bottom: 30px;
    position: relative;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.377);
}

header > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-shadow: 0px 0px 10px white;
}

header > p {
    padding-top: 135px;
}





.traço {
    animation: pulse 1s ease-in-out infinite;
    color: white;
}



#subtex {
    text-align: center;   
    font-size: 2em;
    font-weight: lighter;
}

#subtex2 {
    margin-top: -130px;
    font-family: Anonymous;
    
}


main {
    width: 78vw;
    height: 100%;
    margin-top: 30px;    
    margin: auto;
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(211, 211, 211, 0.315);
    
}

main  h2 {
    padding-left: 5px;
    margin-bottom: 40px;
    
}

main p {
    line-height: 16px;
    margin-bottom: 5px;
    text-indent: 30px;
}

h2::before {
    content: '➤ ' ;
}

.escondidas p::before {
    content: '◉ ' ;
}

hr {
    margin: 40px 10px 40px 10px ;
    opacity: 40%;
}



.fundex {
    background-color: rgba(253, 253, 255, 0.568);
    border: 1px solid rgb(235, 233, 233);
    padding: 20px;
    border-radius: 10px 10px 0px 0px ;
    margin-bottom: 5px;
    
}

.fundex:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.74);
    transition-duration: 1s;
    
}

.contorno {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(235, 233, 233);
    padding: 10px;
    border-radius: 0px 0px 10px 10px ;
    color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.205);
    
}

.contorno p {
    font-family: Anonymous;
}

.contorno p::before {
    content: '<p>';
}

.contorno p::after {
    content: '</p>';
}

.contorno h4::before {
    content: '<h4>';
}

.contorno h4::after {
    content: '</h4>';
}

.contorno:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.384);
    transition-duration: 1s;
    
}

.voltar > a:hover {
    color: rgba(0, 139, 139, 0.425);
    transition-duration: 2s;
    text-shadow: 1px 1px 1px rgba(0, 139, 139, 0.199);
    
    
}

h3 {
    margin-bottom: 30px;
   
}

h3:hover {
    background-image: linear-gradient(to left, rgba(211, 211, 211, 0.315), rgba(176, 196, 222, 0.493));
    padding: 4px 4px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.548);
    transition-duration: 1.5s;
}

.notas {
    background-color: rgba(153, 119, 147, 0.274);
    border-radius: 10px;
    padding: 10px;    
    margin-bottom: 10px;
}

.notas h3 {
    color: rgba(0, 0, 0, 0.699);
    margin-bottom: 15px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.185));
    border-radius: 3px;
}

.notas p {
    font-style: italic;
}

.descris {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 30px;
    width: 250px;
}

.descris > abbr {
    padding: 0px 10px;
    
}

h4 {
    margin-bottom: 20px;
}

#ex5 p {
    line-height: 22px;
    text-align: justify;
    margin-top: 20px;
}

#ex6 li {
    line-height: 22px;
     
}

#ivideos {
    display: block;
    margin: auto;
    text-align: center;
}

#tvid {
    text-indent: 0px;
}

.descri2 iframe {
    width: 100%;
    height: 600px;

}
.descri4 iframe {
    width: 100%;
    height: 600px;

}








